{% extends "admin/delete_confirmation.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}stylesheets/busaraadmin.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block userlinks %}{% include "busaraadmin/_userlinks.html" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &gt;
     {% comment %}<a href="../../../">{{ app_label|capfirst }}</a> &gt; {% endcomment %}
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &gt;
     <a href="../">{{ object|truncatewords:"18" }}</a> &gt;
     <span class="active">{% trans 'Delete' %}</span>
</div>
{% endblock %}

