{% load i18n %}
<ul class="nav">
  <li>
    <span>Account</span>
    <ul class="menu">
      <li>
      {% url "admin:password_change" as password_change_url %}
      {% if password_change_url %}
        <a href="{{ password_change_url }}">
      {% else %}
        <a href="{{ root_path }}password_change/">
      {% endif %}
      {% trans "Change password" %}</a>
      </li>
      <li>
      {% url "admin:logout" as logout_url %}
      {% if logout_url %}
        <a href="{{ logout_url }}">
      {% else %}
        <a href="{{ root_path }}logout/">
      {% endif %}
      {% trans "Log out" %}</a>
      </li>
    </ul>
  </li>
</ul>
