{% extends "backslash/change_list.html" %}

{% block extrahead %}
{{ block.super }}

<!-- Only load on IE versions gt than 9 and non-IE browsers -->
<!--[if gt IE 9]><!-->
<link href="{{ STATIC_URL }}backslash/stylesheets/change-list-media.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}backslash/javascripts/change-list-media.js" type="text/javascript"></script>
<!--<![endif]-->
{% endblock %}

{% block pageclass %}{{ block.super }} media{% endblock %}

{% block extra_tools %}
  {{ block.super }}
  <li>
    <a id="view-trigger" class="button" href="#">Switch to List View</a>
  </li>
{% endblock %}
