{% extends "backslash/change_list.html" %}
{% load admin_static %}


{% block extrahead %}
  {{ block.super }}
  <!-- Only load on IE versions gt than 9 and non-IE browsers -->
  <!--[if gt IE 9]><!-->
  <link href="{% static "backslash/stylesheets/change-list-media.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static "backslash/change-list-media.js" %}" type="text/javascript"></script>
  <!--<![endif]-->
{% endblock %}


{% block pageclass %}{{ block.super }} media{% endblock %}


{% block extra_tools %}
  {{ block.super }}
  <li class="hidden">
    <a id="view-trigger" class="button" href="#">Switch to List View</a>
  </li>
{% endblock %}
