{% extends "backslash/base.html" %}
{% load url from future %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}
  {{ block.super }}

  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &gt;
     {% comment %}<a href="../../">{{ app_label|capfirst|escape }}</a> &gt; {% endcomment %}
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &gt;
     <span class="active">{% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</span>
</div>
{% endif %}{% endblock %}
