{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{{ STATIC_URL|default:MEDIA_URL }}backslash/backslash.css" type="text/css" rel="stylesheet" />
  <link href="{{ STATIC_URL|default:MEDIA_URL }}stylesheets/backslash.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
  <a href="../../">
    {% trans "Home" %}
  </a>
  {% comment %}
   &gt;
   <a href="../">
     {{ app_label|capfirst }}
  </a>
  {% endcomment %}
  &gt;
  <span class="active">{{ cl.opts.verbose_name_plural|capfirst }}</span>
</div>
{% endif %}{% endblock %}
