{% extends "admin/index.html" %}
{% load i18n %}


{% block extrastyle %}
  {{ block.super }}
  <link href="{{ STATIC_URL|default:MEDIA_URL }}backslash/backslash.css" type="text/css" rel="stylesheet" />
  <link href="{{ STATIC_URL|default:MEDIA_URL }}stylesheets/backslash.css" type="text/css" rel="stylesheet" />
{% endblock %}


{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}


{% block breadcrumbs %}
  <div class="breadcrumbs"><span class="active">{% trans "Home" %}</span></div>
{% endblock %}

{% block content %}
  <br />
  <p>Welcome to your website administration area.</p>
  <p>Select an area to manage from the toolbar to begin.</p>
  <br />
  <ul id="notices" data-domain="{{ current_site.domain }}" data-server="{{ request.META.SERVER_NAME }}"></ul>
{% endblock %}
