{% extends "backslash/base.html" %}


{% block title %}Dashboard - {{ block.super }}{% endblock %}




{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}


{% block breadcrumbs %}{% endblock %}


{% block pageclass %}dashboard{% endblock %}


{% block content %}

  <div class="std-content">
    <p>Welcome to your website administration area.</p>
    <p>Select an area to manage from the sidebar to begin.</p>
  </div>

  <ul id="notices" data-domain="{{ current_site.domain }}" data-server="{{ request.META.SERVER_NAME }}"></ul>

{% endblock %}
