{% extends "backslash/base.html" %}
{% load admin_static %}


{% block title %}Dashboard - {{ block.super }}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  <link href="{% static "backslash/stylesheets/dashboard.css" %}" type="text/css" rel="stylesheet" />
  <link href="{% static "backslash/stylesheets/notices.css" %}" type="text/css" rel="stylesheet" />
  <script src="{% static "backslash/notices.js" %}" type="text/javascript"></script>
{% endblock %}


{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}


{% block breadcrumbs %}{% endblock %}


{% block pageclass %}dashboard{% endblock %}


{% block content %}

  <div class="std-content">
    <p>Welcome to your website administration area.</p>
    <p>Select an area to manage from the sidebar to begin.</p>
  </div>

  <ul id="notices" data-domain="{% if request.site %}{{ request.site.domain }}{% elif current_site %}{{ current_site.domain }}{% endif %}" data-server="{{ request.META.SERVER_NAME }}"></ul>

{% endblock %}
