
/* Generic Styles */
html, body {
  background-color: #ffffff;
  color: #2e3e4d;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body.ajax-loading, body.ajax-loading * {
  cursor: wait !important;
}

body#tinymce.mceContentBody {
  margin: 0;
  padding: 10px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
