/*
 * Generic Styles
 */

html, body {
  background-color: #ffffff;
  color: #2e3e4d;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* experimental */
body {
  min-width: 960px;
  max-width: 1440px;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 1440px;
  width: 100%;
  height: 100%;
  background-color: #E1E3E6;
  z-index: -1;
}
/* */

body.ajax-loading, body.ajax-loading * {
  cursor: wait !important;
}

body#tinymce.mceContentBody {
  margin: 0;
  padding: 10px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}




/*
 * Typography
 */

h1, h2, h3, h4, h5, h6 {
  color: #171f26;
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 1.1;
}

h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2.286em; /* 32/14 */
}

h2 {
  font-size: 1.714em; /* 24/14 */
}

h3 {
  font-size: 1.429em; /* 20/14 */
}

h4 {
  font-size: 1.286em; /* 18/14 */
}

h5 {
  font-size: 1.143em; /* 16/14 */
}

h6 {
  font-size: 1em; /* 14 */
}

p {
  color: #2e3e4d;
  line-height: 1.5;
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  font-size: 1em; /* parent/parent */
  text-decoration: none;
}

a:hover,
a:focus {
  border-color: #171f26;
}



/*
 ** Interface Elements
 */

/*
 *** Forms
 */

label {
  display: block;
  color: #171f26;
  font-size: 1em; /* 14 */
  margin-bottom: 2px;
  letter-spacing: 0.1px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Text Fields */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="search"],
input[type="url"], /* add input types as needed */
textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding-left: 12px;
  margin-bottom: 5px;
  color: #36414D;
  background: #fcfcfc;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

input[type="text"]:last-child,
input[type="number"]:last-child,
input[type="email"]:last-child,
input[type="password"]:last-child,
input[type="date"]:last-child,
input[type="datetime"]:last-child,
input[type="search"]:last-child,
input[type="url"]:last-child, /* add input types as needed */
textarea:last-child {
  margin-bottom: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="search"],
input[type="url"] {
  height: 40px;
}

textarea {
  min-height: 120px;
  padding: 10px 12px;
  line-height: 1.5;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
  color: #0A0B0D;
  background-color: #fff;
  border-color: #959EA6;
  -webkit-box-shadow: 0 2px 3px #E6E6E6;
     -moz-box-shadow: 0 2px 3px #E6E6E6;
          box-shadow: 0 2px 3px #E6E6E6;
}

input:disabled,
select:disabled {
  cursor: not-allowed;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="search"]:disabled,
input[type="url"]:disabled,
textarea:disabled {
  background-color: #f3f3f3;
  cursor: not-allowed;
}

select {
  padding-top: 2px;
  padding-bottom: 2px;
}

select[multiple] option {
  padding-top: 2px;
  padding-bottom: 2px;
}

select[multiple] {
  padding: 10px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/*
 *** Inline Search Form
 */

.inline-search-form:after {
  content: "";
  display: table;
  clear: both;
}

.inline-search-form {
  position: relative;
}

.inline-search-form input[type="text"],
.inline-search-form input[type="search"],
.inline-search-form input[type="submit"] {
  float: left;
}

.inline-search-form input[type="text"],
.inline-search-form input[type="search"] {
  width: 80%;
  margin-bottom: 0;
  -webkit-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.inline-search-form input[type="submit"] {
  position: relative;
  left: -1px;
  width: 20%;
  min-width: 70px;
  height: 40px;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}


/*
 *** Buttons
 */

/*
 **** Button - Base
 */

.button {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #797F8C;
  background-image: -webkit-linear-gradient(#848A99, #797F8C);
  background-image:    -moz-linear-gradient(#848A99, #797F8C);
  background-image:         linear-gradient(#848A99, #797F8C);
  border: 1px solid #636773;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.button:hover,
.button:focus {
  background-color: #696F7A;
  background-image: -webkit-linear-gradient(#696F7A, #585C66);
  background-image:    -moz-linear-gradient(#696F7A, #585C66);
  background-image:         linear-gradient(#696F7A, #585C66);
  border-color: #4D5059;
}

.button:active {
  background-color: #585C66;
  background-image: -webkit-linear-gradient(#585C66, #696F7A);
  background-image:    -moz-linear-gradient(#585C66, #696F7A);
  background-image:         linear-gradient(#585C66, #696F7A);
}

/*
 **** Button - Primary
 */

.button.primary {
  background-color: #4dd3f1;
  background-image: -webkit-linear-gradient(#4ED4F2, #45BED9);
  background-image:    -moz-linear-gradient(#4ED4F2, #45BED9);
  background-image:         linear-gradient(#4ED4F2, #45BED9);
  border-color: #3DA7BF;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #42B4CE;
  background-image: -webkit-linear-gradient(#42B4CE, #3BA1B8);
  background-image:    -moz-linear-gradient(#42B4CE, #3BA1B8);
  background-image:         linear-gradient(#42B4CE, #3BA1B8);
  border-color: #3591A6;
}

.button.primary:active {
  background-color: #3BA1B8;
  background-image: -webkit-linear-gradient(#3BA1B8, #42B4CE);
  background-image:    -moz-linear-gradient(#3BA1B8, #42B4CE);
  background-image:         linear-gradient(#3BA1B8, #42B4CE);
  border-color: #3591A6;
}

/*
 **** Button - Success
 */

.button.success {
  background-color: #70d715;
  background-image: -webkit-linear-gradient(#71D916, #63BF13);
  background-image:    -moz-linear-gradient(#71D916, #63BF13);
  background-image:         linear-gradient(#71D916, #63BF13);
  border-color: #56A611;
}

.button.success:hover,
.button.success:focus {
  background-color: #59AC10;
  background-image: -webkit-linear-gradient(#59AC10, #4F980F);
  background-image:    -moz-linear-gradient(#59AC10, #4F980F);
  background-image:         linear-gradient(#59AC10, #4F980F);
  border-color: #42800D;
}

.button.success:active {
  background-color: #4F980F;
  background-image: -webkit-linear-gradient(#4F980F, #59AC10);
  background-image:    -moz-linear-gradient(#4F980F, #59AC10);
  background-image:         linear-gradient(#4F980F, #59AC10);
}


/*
 **** Button - Warning
 */

.button.warning {
  background-color: #fda924;
  background-image: -webkit-linear-gradient(#FFAB24, #E69A20);
  background-image:    -moz-linear-gradient(#FFAB24, #E69A20);
  background-image:         linear-gradient(#FFAB24, #E69A20);
  border-color: #CC891D;
}

.button.warning:hover,
.button.warning:focus {
  background-color: #D9911E;
  background-image: -webkit-linear-gradient(#D9911E, #C2821B);
  background-image:    -moz-linear-gradient(#D9911E, #C2821B);
  background-image:         linear-gradient(#D9911E, #C2821B);
  border-color: #B37819;
}

.button.warning:active {
  background-color: #C2821B;
  background-image: -webkit-linear-gradient(#C2821B, #D9911E);
  background-image:    -moz-linear-gradient(#C2821B, #D9911E);
  background-image:         linear-gradient(#C2821B, #D9911E);
}

/*
 **** Button - Danger
 */

.button.danger {
  background-color: #fe6565;
  background-image: -webkit-linear-gradient(#FF6666, #E65C5C);
  background-image:    -moz-linear-gradient(#FF6666, #E65C5C);
  background-image:         linear-gradient(#FF6666, #E65C5C);
  border-color: #CC5252;
}

.button.danger:hover,
.button.danger:focus {
  background-color: #CC5151;
  background-image: -webkit-linear-gradient(#CC5151, #B84949);
  background-image:    -moz-linear-gradient(#CC5151, #B84949);
  background-image:         linear-gradient(#CC5151, #B84949);
  border-color: #CC5252;
}

.button.danger:active {
  background-color: #B84949;
  background-image: -webkit-linear-gradient(#B84949, #CC5151);
  background-image:    -moz-linear-gradient(#B84949, #CC5151);
  background-image:         linear-gradient(#B84949, #CC5151);
}

/*
 **** Button - Low Key
 */

.button.low {
  background-color: transparent;
  background-image: none;
  color: #636773;
  line-height: 34px;
  text-shadow: none;
  border-width: 2px;
  border-color: #CED1D9;
}

.button.low:hover,
.button.low:focus {
  border-color: #636773;
}

.button.low:active {
  background-color: #E3E5E8;
  background-color: rgba(121, 127, 140, 0.2);
}

/*
 **** Button - Disabled
 */

.button.disabled {
  background-image: none;
  background-color: #E6E6E6;
  color: #636773;
  line-height: 38px;
  text-shadow: none;
  border: none;
  cursor: not-allowed;
}

/*
 **** Button - Link Only
 */

.button.link-only {
  height: 26px;
  padding: 0;
  background: transparent;
  color: #636773;
  line-height: 26px;
  text-shadow: none;
  border: 0;
  border-bottom: 2px solid #CED1D9;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.button.link-only:hover,
.button.link-only:focus {
  border-color: #636773;
}

.button.link-only:active {
  position: relative;
  top: 1px;
}




/*
 * Components
 */


/*
 ** Messages
 */

.messagelist {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.messagelist > li {
  padding: 8px 15px;
  font-size: 0.929em; /* 13/14 */
  color: #42454D;
  border: 1px solid #BDC1C8;
  background-color: #F9F9FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 5px;
}

.messagelist > li:first-child {
  margin-top: 0;
}

/* Green */
.messagelist > .success {
  color: #498C0E;
  background-color: #EAF9DC;
  border-color: #ACE878;
}

/* Blue */
.messagelist > .success {
  color: #3591A6;
  background-color: #E4F6FA;
  border-color: #94DAE9;
}


/*
 *** Paginator
 */

.paginator {
  padding: 40px 30px;
}

.paginator > a,
.paginator > span {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  color: #636773;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #CED1D9;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.paginator > a:first-child,
.paginator > span:first-child {
  margin-left: 0;
}

.paginator > a:hover,
.paginator > a:focus,
.paginator > span:hover,
.paginator > span:focus {
  border-color: #636773;
}

.paginator > a:active,
.paginator > span:active {
  background-color: #E3E5E8;
  background-color: rgba(121, 127, 140, 0.2);
}

.paginator > .this-page {
  color: #fff;
  background-color: #636773;
  border-color: #636773;
}

/*
 * Structure
 */


/*
 ** Header
 */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #171f26;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/*
.js-enabled .header {
  width: 100px;
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

.js-enabled.nav-open .header {
  width: 260px;
}

.js-enabled .header:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background: transparent;
  background-image: -webkit-linear-gradient(90deg, rgba(23,31,38,0), rgba(23,31,38,1));
  background-image:    -moz-linear-gradient(90deg, rgba(23,31,38,0), rgba(23,31,38,1));
  background-image:         linear-gradient(90deg, rgba(23,31,38,0), rgba(23,31,38,1));
  top: 100px;
  right: 0;
  z-index: 2;
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
  pointer-events: none;
}

.js-enabled.nav-open .header:after {
  width: 0;
}
*/

.header .site-id {
  display: block;
  padding: 28px 25px 25px;
}

.header .site-id .site-name {
  margin-bottom: 0;
  font-size: 1.429em; /* 20/14 */
  color: #fff;
}

.header .site-id > span {
  text-transform: uppercase;
  font-size: 0.857em; /* 12/14 */
  color: #6F7B85;
  letter-spacing: 1px;
}

.header .branding {
  padding: 25px;
  background-color: #cb0012;
}

.header .branding .logo {
  position: relative;
  display: block;
  width: 24px;
  height: 32px;
  background: url(../images/logo.png) no-repeat;
  border: none;
}
/*
.js-enabled .header .branding .logo {
  width: 24px;
  -webkit-transition: width 0.375s ease-out;
     -moz-transition: width 0.375s ease-out;
       -o-transition: width 0.375s ease-out;
          transition: width 0.375s ease-out;
}

.js-enabled.nav-open .header .branding .logo {
  width: 175px;
}
*/
.header .branding .logo:after {
  content: "";
  position: absolute;
  top: 0;
  right: -21px;
  width: 16px;
  height: 31px;
  background: url(../images/logo-slash.png) no-repeat;
}

.header .branding .logo > span {
  display: none;
  color: #fff;
  font-size: 3em; /* 42/14 */
  line-height: 1;
}

@media all and (min-width: 0) {
  .header .branding .logo:after {
    background-image: url(../images/logo-slash.svg);
  }

  .header .branding .logo {
    background-image: url(../images/logo.svg);
  }
}

.header .nav {
  margin-bottom: 25px;
}

/* nav links */
.header .nav a {
  display: block;
  padding: 7px 25px;
  border-bottom: none;
  background-color: transparent;
  font-size: 1.143em; /* 16/14 */
  line-height: 1.2;
  text-decoration: none;
  color: #99ADBF;
  -webkit-transition: background-color 0.15s ease;
     -moz-transition: background-color 0.15s ease;
      -ms-transition: background-color 0.15s ease;
       -o-transition: background-color 0.15s ease;
          transition: background-color 0.15s ease;
}

/* reduce size of nav items if viewport height is < 660px */
@media screen and (max-height: 660px) {
  .header .nav {
    margin-bottom: 15px;
  }

  .header .nav a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1em; /* 14px */
  }
}

.header .nav a:hover,
.header .nav a:focus {
  color: #CFDBE6;
  background-color: #263440;
}

.header .nav a:focus {
  text-decoration: underline;
}

.header .nav a:active {
  position: relative;
  top: 1px;
}

.header .nav > li {
  margin-top: 20px;
}

.header .nav > li:first-child {
  margin-top: 0;
}

/* nav headings */
.header .nav > li > span {
  display: block;
  padding: 5px 25px;
  color: #CFDBE6;
  font-size: 0.786em; /* 11/14 */
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
}

/*
 ** Content Panel
 */

.content-panel {
  background: #fff;
  margin-left: 220px;
}

/*.js-enabled .content-panel {
  margin-left: 100px;
  -webkit-transition: margin-left 0.3s ease-out;
     -moz-transition: margin-left 0.3s ease-out;
       -o-transition: margin-left 0.3s ease-out;
          transition: margin-left 0.3s ease-out;
}

.js-enabled.nav-open .content-panel {
  margin-left: 260px;
}*/



/*
 *** Page Header
 */

.page-header {
  min-height: 57px;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.page-header:after {
  content: "";
  display: table;
  clear: both;
}

/*
 **** Breadcrumbs
 */

.page-header .breadcrumbs {
  float: left;
}

.page-header .breadcrumbs > li {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 8px;
  font-size: 2.286em; /* 32/14 */
  color: #a1aab3;
  line-height: 1.1;
}

.page-header .breadcrumbs > li > a {
  display: inline-block;
  border-bottom: 0;
}

.page-header .breadcrumbs > li > a:hover,
.page-header .breadcrumbs > li > a:focus {
  text-decoration: underline;
}


/*
 **** Page Title
 */

.page-title {
  float: left;
}


/*
 **** Object Toolbar
 */

.page-header .object-toolbar {
  float: right;
}

.page-header .object-toolbar > li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.page-header .object-toolbar > li.hidden {
  display: none;
}

.page-header .object-toolbar > li:first-child {
  margin-left: 0;
}


/*
 * Dashboard
 */

.dashboard .std-content {
  padding-left: 30px;
  padding-right: 30px;
}
