/*
 * Change Form Styles
 */

/*
 * Page Form
 */

.change-form .module .form-row {
  margin-bottom: 25px;
}

.change-form .module .form-row:last-child {
  margin-bottom: 0;
}

.change-form .module .form-row:first-child {
  margin-top: 0;
}

.change-form .module .form-row .field-box {
  margin-top: 15px;
}

.change-form .module .form-row .field-box:first-child {
  margin-top: 0;
}

.change-form .module .form-row .help {
  color: #9099AB;
  font-size: 0.857em; /* 12/14 */
}


/* Collapsed Modules */

.change-form .module.collapse {
  height: auto;
  background: #f3f3f3;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.change-form .module.collapse.collapsed {
  height: 18px;
  overflow: hidden;
}


/*
 ** Page Form Items
 */

.change-form .form-row.field-featured_content textarea {
  height: 120px;
}

.change-form .form-row .datetime {
  margin-bottom: 3px;
}

.change-form .form-row .datetime label {
  display: block;
}

.change-form .form-row .datetime input[type=text],
.change-form .form-row .datetime .datetimeshortcuts {
  display: inline-block;
  vertical-align: middle;
}

.change-form .form-row .datetime input[type=text] {
  width: auto;
  margin-right: 10px;
}

.change-form .form-row .datetime br {
  display: none;
}

.change-form .form-row .datetime .datetimeshortcuts {
  margin-right: 40px;
}

.change-form .form-row .checkbox-row input[type=checkbox],
.change-form .form-row .checkbox-row label {
  display: inline-block;
  vertical-align: baseline;
}

.change-form .form-row .checkbox-row input[type=checkbox] {
  margin-right: 5px;
}

.change-form .form-row .checkbox-row label {
  margin-bottom: 0;
}

.change-form .form-row .url > a {
  color: #4BCEEC;
  border-color: #4BCEEC;
}

.change-form .form-row .url > br {
  margin-bottom: 10px;
}


/* Submit Row */

.change-form .submit-row {
  clear: both;
  padding: 0 30px 80px 30px;
}

.change-form .submit-row:after {
  content: "";
  display: table;
  clear: both;
}

.change-form .submit-row input[type="submit"] {
  float: right;
  margin-left: 10px;
}

.change-form .submit-row .deletelink-box {
  float: left;
  margin-bottom: 0;
}

.change-form .submit-row input[name="_save"] {
  background-color: #70BF1B;
}

.change-form .submit-row input[name="_save"]:hover,
.change-form .submit-row input[name="_save"]:focus {
  background-color: #61A617;
}

.change-form .submit-row input[name="_save"]:active {
  background-color: #528C14;
}

.change-form .submit-row .deletelink {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  color: #636773;
  font-size: 14px;
  line-height: 34px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 2px solid #CED1D9;
}

.change-form .submit-row .deletelink:hover,
.change-form .submit-row .deletelink:focus {
  border-color: #636773;
}

.change-form .submit-row .deletelink:active {
  background-color: #E3E5E8;
  background-color: rgba(121, 127, 140, 0.2);
}


/*
 * Experimental
 */

@media all and (min-width: 1280px) {
  .field-title,
  .field-headline,
  .field-link,
  .field-slug,
  .field-meta_description,
  .field-tags {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  .field-title,
  .field-meta_description {
    margin-right: 3.4%;
  }
}
