/*
 * Layout Styles
 */


/*
 ** Header
 */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #171f26;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.header .site-id {
  display: block;
  padding: 28px 25px 25px;
}

.header .site-id .site-name {
  margin-bottom: 0;
  font-size: 1.429em; /* 20/14 */
  line-height: 1.2;
  color: #fff;
}

.header .site-id > span {
  text-transform: uppercase;
  font-size: 0.857em; /* 12/14 */
  color: #6F7B85;
  letter-spacing: 1px;
}

.header .nav {
  margin-bottom: 15px;
}

/* nav links */
.header .nav a {
  display: block;
  padding: 3px 25px;
  border-bottom: none;
  background-color: transparent;
  font-size: 1em; /* 14 */
  line-height: 1.2;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #99ADBF;
  -webkit-transition: background-color 0.15s ease;
     -moz-transition: background-color 0.15s ease;
      -ms-transition: background-color 0.15s ease;
       -o-transition: background-color 0.15s ease;
          transition: background-color 0.15s ease;
  -moz-osx-font-smoothing: grayscale;
}

/* increase size of nav items if viewport height is > 660px */
@media screen and (min-height: 660px) {
  .header .nav {
    margin-bottom: 25px;
  }

  .header .nav a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.143em; /* 16/14px */
  }
}

.header .nav a:hover,
.header .nav a:focus {
  color: #CFDBE6;
  background-color: #263440;
}

.header .nav a:active {
  position: relative;
  top: 1px;
}

.header .nav > li {
  margin-top: 20px;
}

.header .nav > li:first-child {
  margin-top: 0;
}

/* nav headings */
.header .nav > li > span {
  display: block;
  padding: 5px 25px;
  color: #CFDBE6;
  font-size: 0.786em; /* 11/14 */
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
}

.header .backslash-branding {
  padding: 20px 25px;
  margin-top: 40px;
  cursor: default;
}

.header .backslash-branding > span {
  display: block;
  text-transform: uppercase;
  color: #6F7B85;
  font-size: 0.786em; /* 11/14 */
  letter-spacing: 1px;
}

.header .backslash-branding .logo {
  margin-bottom: 0;
  font-size: 1.714em; /* 24/14 */
  font-size: 24px;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
}

.header .backslash-branding .logo span {
  color: #CB0012;
}

/*
 ** Content Panel
 */

.content-panel {
  background: #fff;
  margin-left: 220px;
}

.popup .content-panel {
  margin-left: 0;
}


/*
 *** Page Header
 */

.page-header {
  padding: 25px 30px;
}

.page-header:after {
  content: "";
  display: table;
  clear: both;
}

/*
 **** Breadcrumbs
 */

.page-header .breadcrumbs {
  float: left;
}

.page-header .breadcrumbs > li {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0;
  font-size: 1em; /* 14 */
  color: #a1aab3;
  line-height: 1.1;
}

.page-header .breadcrumbs > li > a {
  display: inline-block;
  border-bottom: 0;
  letter-spacing: -0.4px;
}

.page-header .breadcrumbs > li > a:hover,
.page-header .breadcrumbs > li > a:focus {
  text-decoration: underline;
}


/*
 **** Page Title
 */

.page-title {
  clear: left;
  float: left;
  margin-bottom: 0;
  letter-spacing: -0.4px;
  -moz-osx-font-smoothing: grayscale;
}


/*
 **** Object Toolbar
 */

.page-header .object-toolbar {
  float: right;
}

.page-header .object-toolbar > li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.page-header .object-toolbar > li.hidden {
  display: none;
}

.page-header .object-toolbar > li:first-child {
  margin-left: 0;
}


/*
 *** Page Content
 */

.page-content {
  padding: 0 30px;
}
