/*
 ** Result List
 */

#result_list {
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

#result_list > thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#result_list > thead > tr > th,
#result_list > thead > tr > td,
#result_list > tbody > tr > th,
#result_list > tbody > tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

#result_list > thead > tr > th:first-child,
#result_list > thead > tr > td:first-child,
#result_list > tbody > tr > th:first-child,
#result_list > tbody > tr > td:first-child {
  padding-left: 30px;
}

#result_list > thead > tr > th > .sortoptions {
  float: left;
  position: relative;
  vertical-align: middle;
  height: 12px;
  margin-right: 10px;
}

#result_list > thead > tr > th > .sortoptions > a {
  border-bottom: 0;
}

#result_list > thead > tr > th > .sortoptions > a,
#result_list > thead > tr > th > .sortoptions > span {
  display: inline-block;
  vertical-align: top;
}

#result_list > thead > tr > th > .sortoptions > .sortremove {
  position: absolute;
  top: 0;
  left: -16px;
  background: url(../images/result-list-sprites.png) no-repeat;
  background-position: -20px 0;
  width: 16px;
  height: 12px;
  opacity: 0;
}

#result_list > thead > tr > th > .sortoptions:hover > .sortremove {
  opacity: 1;
}

#result_list > thead > tr > th > .sortoptions > .sortpriority {
  font-size: 0.714em; /* 10/14 */
  color: #898989;
}

#result_list > thead > tr > th > .sortoptions > .ascending,
#result_list > thead > tr > th > .sortoptions > .descending {
  position: relative;
  top: 2px;
  width: 8px;
  height: 8px;
  background: url(../images/result-list-sprites.png) no-repeat;
  background-position: top;
}

#result_list > thead > tr > th > .sortoptions > .ascending {
  background-position: 0 0;
}

#result_list > thead > tr > th > .sortoptions > .descending {
  background-position: -10px 0;
}

@media all and (min-width: 0) {
  #result_list > thead > tr > th > .sortoptions > .sortremove,
  #result_list > thead > tr > th > .sortoptions > .ascending,
  #result_list > thead > tr > th > .sortoptions > .descending {
    background-image: url(../images/result-list-sprites.svg);
  }
}

#result_list > thead > tr > th > .sortoptions > .clear {
  clear: both;
}

#result_list > thead > tr > th > .text {
  float: left;
  height: 12px;
  color: #777;
  font-size: 0.714em; /* 10/14 */
  text-transform: uppercase;
}

#result_list > thead > tr > th > .text > a {
  border-bottom: 0;
}

#result_list > tbody > tr {
  border-bottom: 1px solid #ececec;
}

#result_list > tbody > tr > th,
#result_list > tbody > tr > td {
  color: #898989;
}

#result_list > tbody > tr > th:first-child > a,
#result_list > tbody > tr > td:first-child > a {
  font-weight: normal;
  font-size: 1.286em; /* 18/14 */
  color: #171F26;
  border-bottom: none;
}
