{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}stylesheets/backslash.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block userlinks %}{% include "backslash/_userlinks.html" %}{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &gt; <span class="active">{% trans 'Password change' %}</span></div>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
  <h1>{% trans 'Password change successful' %}</h1>
  <p>{% trans 'Your password was changed.' %}</p>
{% endblock %}

