@import url(superfish.css);

html {
  overflow-y: scroll;
}

html, body {
  background-color: #222222;
  color: #ffffff;
  font-family: "DejaVu Sans", "Liberation Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

#container {
  width: 982px;
  margin: 0 auto;
}


#container #header {
  position: relative;
  margin: 0;
  padding: 0;
  height: 180px;
  background-color: transparent;
  overflow: visible;
}

  #container #header #branding #site-name {
    position: absolute;
    bottom: 70px;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
    #container #header #branding #site-name a {
      overflow: hidden;
      color: #ffffff;
    }
  
  #container #header #user-tools {
    position: absolute;
    bottom: 70px;
    top: auto;
    right: 0;
    float: none;
    margin: 0;
    padding: 0;
    color: #00aeef;
    height: auto;
  }
  
  #container #header #user-tools .userlinks,
  #container #header #user-tools .userlinks a {
    color: #ffffff;
  }
  
  #container #header div.nav {
    position: absolute;
    bottom: 0;
    display: block !important;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #333333;
    width: 100%;
    font-size: 12px;
    line-height: 50px;
  }
  
  #container #header ul.nav {
    padding: 0 12px;
  }
    
    #container #header ul.nav li {
      display: inline;
      padding: 0 8px;
      border-right: solid 1px #333333;
      list-style-type: none;
      text-transform: uppercase;
    }


#container .breadcrumbs {
  margin: 0;
  padding: 0 20px;
  height: 30px;
  background-color: #e5e5e5;
  background-image: none;
  border-style: none;
  -moz-box-shadow: inset 0 -2px 2px #bcbcbc;
  -webkit-box-shadow: inset 0 -2px 2px #bcbcbc;
  box-shadow: inset 0 -2px 2px #bcbcbc;
  color: #000000;
  line-height: 30px;
}
  
  #container .breadcrumbs a {
    color: #000000;
  }
  
  #container .breadcrumbs .active {
    color: #00aeef;
  }


#container .messagelist {
  margin: 0 -20px;
  padding: 0 20px;
}
  
  #container ul.messagelist li {
    height: 40px;
    margin: 0;
    padding: 0 0 0 45px;
    background-color: #e4ede1;
    background-image: url("icon_success.png");
    background-position: 20px center;
    border-top-style: none;
    color: #000000;
    line-height: 40px;
  }


#container #content {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  border-style: none;
  color: #000000;
}
  
  /*#container #content h1 {
    display: none;
  }*/
  
  #container #content fieldset,
  #container #content .inline-group {
    margin: 0 0 40px 0;
    border-style: none;
  }
    
    #container #content h1,
    #container #content fieldset h2,
    #container #content .inline-group h2 {
      margin: 0;
      padding: 0 0 2px 0;
      /*height: 30px;*/
      background-color: #ffffff;
      background-image: none;
      border-bottom: solid 1px #e5e5e5;
      color: #00acf0;
      font-size: 20px;
      font-weight: normal;
      /*line-height: 30px;*/
      /*text-transform: uppercase;*/
    }
    
    #container #content fieldset .form-row {
      position: relative;
      padding: 0;
      border-style: none;
    }

    #container #content fieldset label {
      display: block;
      float: none;
      width: auto;
      margin: 10px 0 5px 0;
      padding: 0;
    }
    
    #container #content fieldset input[type="text"],
    #container #content fieldset select,
    #container #content fieldset textarea {
      /*height: 14px;*/
      margin: 0;
      padding: 6px 8px;
      border: solid 1px #cdcdcd;
      font-size: 10px;
      line-height: 14px;
      background-color: #fdfdfd;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(246,246,246)), color-stop(1, rgb(255,255,255)));
      background-image: -moz-linear-gradient(center top, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      box-shadow: inset 0 0 2px #cdcdcd;
      -moz-box-shadow: inset 0 0 2px #cdcdcd;
      -webkit-box-shadow: inset 0 0 2px #cdcdcd;
    }
    
    #container #content fieldset select[multiple="multiple"] {
      height: 200px;
    }
    
    #container #content fieldset select {
      max-width: 400px;
    }
    
    #container #content fieldset a.add-another {
      display: none;
    }
    
    #container #content fieldset ul,
    #container #content fieldset ul li {
      margin: 0;
      padding: 0;
      line-height: 20px;
      list-style-type: none;
    }
    
    #container #content fieldset ul li {
      display: inline-block;
      width: 155px;
      margin-right: 20px;
    }
      
      #container #content fieldset ul li label {
        margin: 0;
        padding: 0;
      }
    
    #container #content fieldset p {
      margin: 2px 0 0 0;
      padding: 0;
    }
    
    /* Stacked Inline */
    #container #content .inline-group .inline-related h3 {
      padding: 0;
      background-color: #ffffff;
      background-image: none;
      line-height: 40px;
    }
    
    #container #content .inline-group fieldset {
      margin: 0 0 20px 0;
    }
    
    #container #content .inline-group .add-row {
      background-color: transparent;
      background-image: none;
      border-style: none;
    }
    
    /* Tabular Inline */
    #container #content .inline-group .inline-related.tabular table {
      margin: 15px 0 0 0;
      border-style: none;
    }
    
    #container #content .inline-group .inline-related.tabular table thead tr th,
    #container #content .inline-group .inline-related.tabular table tbody tr.add-row td {
      background-color: transparent;
      background-image: none;
      border-style: none;
    }
    
    #container #content .inline-group .inline-related.tabular table td {
      border-style: none !important;
    }
    
    #container #content .inline-group .inline-related.tabular table tr.has_original td {
      padding-top: 5px;
    }
    
    #container #content .inline-group .inline-related.tabular .original p {
      display: none;
    }
    
    #container #content .inline-group .inline-related.tabular td.delete a {
      float: left;
    }
    
    /* Submit */
    
    #container #content .submit-row {
      margin: 0;
      padding: 20px 0;
      background-image: none;
      border-style: none;
      border-top: solid 1px #e5e5e5;
    }
      
      #container #content .submit-row .deletelink-box a,
      #container #content .submit-row input {
        margin: 0 0 0 20px;
        padding: 0 18px;
        height: 29px;
        background-color: #e2ebed;
        background-image: none;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e2ebed));
        background-image: -moz-linear-gradient(center top, #ffffff 0%, #e2ebed 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e2ebed')";
        border: solid 1px #cdcdcd;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        color: #505050;
        font-size: 10px;
        line-height: 27px;
        cursor: pointer;
        text-transform: uppercase;
      }
      
        #container #content .submit-row input.default {
          background-color: #e4ede1;
          background-image: none;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e4ede1));
          background-image: -moz-linear-gradient(center top, #ffffff 0%, #e4ede1 100%);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e4ede1')";
        }
        
        #container #content .submit-row .deletelink-box a:hover {
          border-color: #cc3434;
        }
        
        #container #content .submit-row input:hover {
          border-color: #00acf0;
        }
        
        #container #content .submit-row input.default:hover {
          border-color: #acf000;
        }
      
      #container #content .submit-row .deletelink-box {
        margin: 0;
      }
      
      #container #content .submit-row .deletelink-box a {
        display: block;
        height: 27px;
        padding: 0 18px 0 38px;
        background-color: #ede1e4;
        background-image: url("icon_delete.png");
        background-image: url("icon_delete.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ede1e4));
        background-image: url("icon_delete.png"), -moz-linear-gradient(center top, #ffffff 0%, #ede1e4 100%);
        -ms-filter: "";
        background-position: 10px center;
        background-position: 10px center, 0 0;
        margin: 0;
      }


/* General */
form .form-row input.vTextField {
  width: 400px;
}

form .form-row textarea {
  height: 40px;
  width: 838px;
}

form .form-row textarea[name="content"] {
  height: 300px;
}

form input[type="submit"] {
  margin: 0;
  padding: 0 15px 0 15px;
  height: 30px;
  background-color: #9f9f9f;
  background-image: none;
  border-style: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #ffffff;
  line-height: 30px;
  cursor: pointer;
}

.row1 {
  background-color: #fafafa;
}

a:link, a:visited {
  color: #00acf0;
}

ul.object-tools {
  display: none;
}


/* Change List */
body.change-list #content-main {
  position: relative;
  padding: 57px 0 0 0;
}

body.change-list ul.object-tools {
  display: block;
  float: none;
  position: absolute;
  right: 0;
  top: 15px;
  margin: 0;
  z-index: 999;
}
  
  body.change-list ul.object-tools li,
  body.change-list ul.object-tools li a,
  body.change-list ul.object-tools li a:hover {
    background-image: none;
  }
  
  body.change-list ul.object-tools li a,
  body.change-list ul.object-tools li a:hover {
    margin: 0 0 0 20px;
    padding: 0 18px;
    height: 27px;
    background-color: #e2ebed;
    background-image: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e2ebed));
    background-image: -moz-linear-gradient(center top, #ffffff 0%, #e2ebed 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e2ebed')";
    border: solid 1px #cdcdcd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #505050;
    font-size: 9px;
    line-height: 27px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  body.change-list ul.object-tools li a:hover {
    border-color: #00acf0;
  }

body.change-list #changelist {
  background-image: none !important;
  border-style: none;
}
  
  body.change-list #changelist #toolbar {
    background-color: #ffffff;
    background-image: none;
    border-style: none;
  }
    
    body.change-list #changelist #toolbar form {
      position: absolute;
      top: -42px;
      margin: 0;
      border-style: none;
    }
      
      body.change-list #changelist #toolbar form input[type="text"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 345px;
        margin: 0;
        padding: 6px 8px;
        height: 15px;
        border: solid 1px #cdcdcd;
        font-size: 10px;
        line-height: 15px;
        background-color: #ffffff;
        background-image: none;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(246,246,246)), color-stop(1, rgb(255,255,255)));
        background-image: -moz-linear-gradient(center top, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
        border-radius: 3px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius: 3px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-radius: 3px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-box-shadow: inset 0 0 2px #cdcdcd;
        -webkit-box-shadow: inset 0 0 2px #cdcdcd;
        box-shadow: inset 0 0 2px #cdcdcd;
        font-size: 12px;
      }
        
        #changelist #toolbar form #searchbar {
          padding: 6px 8px;
        }
      
      body.change-list #changelist #toolbar form input[type="submit"] {
        position: absolute;
        top: 0;
        left: 363px;
        width: 34px;
        height: 29px;
        margin: 0;
        padding: 0;
        background-color: #e2ebed;
        background-image: url("icon_search.png");
        background-image: url("icon_search.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(226,235,237)));
        background-image: url("icon_search.png"), -moz-linear-gradient(center top, rgb(255,255,255) 0%, rgb(226,235,237) 100%);
        background-position: center;
        background-repeat: no-repeat;
        border: solid 1px #cdcdcd;
        border-left-style: none;
        border-radius: 2px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        -moz-border-radius: 2px;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-topleft: 0;
        -webkit-border-radius: 2px;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        color: #505050;
        font-size: 9px;
        line-height: 27px;
        cursor: pointer;
        text-indent: -500px;
        text-transform: uppercase;
      }
    
    body.change-list #changelist #toolbar #changelist-search label {
      display: none;
    }
  
  body.change-list #changelist .xfull {
    width: 100% !important;
  }
  
  body.change-list #changelist .toplinks {
    height: 29px;
    margin: 0 !important;
    background-color: #ffffff;
    background-image: none;
    border-bottom-style: none !important;
    border-top: solid 1px #cfcfcf;
  }

    body.change-list #changelist .toplinks li {
      padding: 0 0 0 20px;
      line-height: 29px;
    }
  
  body.change-list #changelist #changelist-filter {
    position: relative;
    padding: 0 0 0 20px;
    float: right;
    width: 220px;
    background-color: transparent;
    border-style: none;
    background-image: url("filter_gradient.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 15px 100%;
  }
  
    body.change-list #changelist #changelist-filter h2 {
      padding: 0 12px;
      background-image: none;
      background-color: transparent;
      color: #000000;
      line-height: 29px;
    }
    
    body.change-list #changelist #changelist-filter h3 {
      color: #000000;
    }
    
    body.change-list #changelist #changelist-filter li.selected {
      margin: 0;
      padding: 0;
      border-left-style: none;
    }
    
    body.change-list #changelist #changelist-filter a:hover,
    body.change-list #changelist #changelist-filter li.selected a {
      color: #00acf0 !important;
    }
  
  body.change-list #changelist.filtered form {
    width: 683px;
  }
  
  body.change-list #changelist form table {
    width: 100% !important;
    margin: 0 !important;
    border-style: none !important;
  }
  
  body.change-list #changelist form table th,
  body.change-list #changelist form table td {
    padding: 0 5px 0 0;
    line-height: 29px;
    border-style: none;
    border-bottom: solid 1px #e5e5e5;
    font-size: 11px;
    color: #666666;
  }
  
  body.change-list #changelist form table th:first-child,
  body.change-list #changelist form table td:first-child {
    min-width: 250px;
  }
  
  body.change-list #changelist form table thead th {
    background-color: #ffffff;
    background-image: none;
    color: #00acf0;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
  }
  
  body.change-list #changelist form table thead a {
    color: #00acf0;
  }
  
  body.change-list #changelist form table tbody a {
    color: #666666;
  }
    
    body.change-list #changelist form table tbody a:hover {
      color: #00acf0;
    }
  
  body.change-list table thead th.ascending a,
  body.change-list table thead th.descending a {
    padding: 0;
    background-image: none;
  }
  
  body.change-list table img[alt="False"], body.change-list table img[alt="True"] {
    display: block;
    margin: 9px auto;
  }
  
  body.change-list #changelist p.paginator {
    margin: 0 !important;
    padding: 0;
    background-image: none;
    border-style: none;
    line-height: 50px;
  }
  
  body.change-list #changelist p.paginator input[type="submit"] {
    margin: 10px 0 0 20px;
    padding: 0 18px;
    height: 29px;
    background-color: #e4ede1;
    background-image: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e4ede1));
    background-image: -moz-linear-gradient(center top, #ffffff 0%, #e4ede1 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#e4ede1')";
    border: solid 1px #cdcdcd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #505050;
    font-size: 10px;
    line-height: 27px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  body.change-list #changelist p.paginator input[type="submit"]:hover {
    border-color: #acf000;
  }

/* Checkbox */
#container #content fieldset input[type="checkbox"] {
  margin: 25px 0 5px 0;
}
  
  #container #content fieldset li input[type="checkbox"],
  #container #content fieldset table td.delete input,
  #container #content fieldset input[type="checkbox"].clearableimagewidget {
    margin: 0;
  }

#container #content fieldset label.vCheckboxLabel {
  display: inline;
  position: relative;
  top: 10px;
  margin: 0 0 5px 0;
  padding: 0 0 0 4px;
}

/* Errors */
#container #content fieldset .form-row.errors {
  padding: 20px;
  margin: 0 -20px;
  background-color: #ede1e4;
}

#container #content fieldset .field-box.errors {
  padding: 5px;
  background-color: #ede1e4;
}

#container #content fieldset .form-row.errors ul.errorlist li,
#container #content fieldset .field-box.errors ul.errorlist li {
  display: block;
  margin: 0;
  width: auto;
  padding: 4px 5px 4px 25px;
  background-color: #a40000;
  background-image: url("icon_alert.png");
  border-style: none;
  line-height: 14px;
}

p.errornote {
  margin: 20px 0;
  background-color: #ede1e4;
  background-image: url("icon_error.png");
  border-color: #a40000;
  color: #a40000;
}

/* Date Time */
p.datetime {
  line-height: 30px;
}

/* Dashboard */
body.dashboard #content-related {
  display: none;
}

body.dashboard #content {
  width: auto;
  margin: 0 !important;
}

/* Footer */
#footer {
    display: block !important;
    overflow: auto;
    position: relative;
    margin: 20px 0;
    padding: 0;
}
  
  #footer a {
    clear: both;
    display: block;
    float: right;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
  }
  
  #footer a.name {
    width: 147px;
    height: 21px;
    font-size: 21px;
    font-weight: bold;
    background-image: url("backslash_logo.png");
    background-position: right center;
    background-repeat: no-repeat;
    text-indent: 150px;
    text-transform: lowercase;
  }
  
  #footer a.made-by {
    margin: 9px 0 0 0;
    font-size: 9px;
    text-transform: uppercase;
  }

