
#container #content {
  background-image: url("slash.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#container #content .errornote {
  float: left;
  width: 330px;
}

#container #content #login-form {
  display: block;
  float: left;
  width: 360px;
  background-color: #e5e5e5;
  border: solid 1px #cccccc;
  color: #505050;
}

#container #content #login-form .errorlist {
  float: right;
}

#container #content #login-form .errorlist li {
  display: inline;
  background: none;
  border: 0;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

#container #content #login-form input[type="text"],
#container #content #login-form input[type="password"] {
  height: 32px;
  width: 300px;
  padding: 0 8px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 28px;
}

#container #content #login-form label {
  display: block;
  margin: 0 0 2px 0;
  font-weight: bold;
}

#container #content #login-form .form-row {
  margin: 20px;
  padding: 0;
}

#container #content #login-form .submit-row {
  margin: 20px 0;
  padding: 0;
  border-style: none;
}

#container #content #login-form .submit-row label {
  display: none;
}

