{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ site.name }} - Backslash{% endblock %}

{% block extrahead %}
{{ block.super }}
<!--[if lt IE 8]><script src="{{ MEDIA_URL }}backslash/browser-warning.js"></script><![endif]-->
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url admin:index %}">{{ site.name }}</a></h1>
{% endblock %}

{% block nav-global %}
<div class="nav" style="display: none;">
{% include "backslash/_menu.html" %}
</div>
{% endblock %}

{% block footer %}
<div id="footer" style="display: none;">
  <a href="http://thecut.net.au/backslash" class="name">Backslash</a>
  <a href="http://thecut.net.au/" class="made-by">Made By The Cut</a>
</div>
{% endblock %}
