{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{% if request.site %}{{ request.site.name }}{% elif current_site %}{{ current_site.name }}{% endif %} - Backslash{% endblock %}

{% block extrahead %}
{{ block.super }}
<!--[if lt IE 8]><script src="{% static "backslash/browser-warning.js" %}" type="text/javascript"></script><![endif]-->
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url "admin:index" %}">{% if request.site %}{{ request.site.name }}{% elif current_site %}{{ current_site.name }}{% endif %}</a></h1>
{% endblock %}

{% block nav-global %}
<div class="nav" style="display: none;">
{% include "backslash/_menu.html" %}
</div>
{% endblock %}

{% block footer %}
<div id="footer" style="display: none;">
  <a href="http://www.thecut.net.au/backslash" class="name">Backslash</a>
  <a href="http://www.thecut.net.au/" class="made-by">From The Cut</a>
</div>
{% endblock %}
